body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.item {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  float: left;
  width: calc(20% - 20px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.03);
}

#cart {
  border: 1px solid #333;
  float: right;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

/* Estilo personalizado para o botão de remoção */
.cart-item button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.cart-item button:hover {
  background-color: #bd2130;
}
