* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.movie {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.movie img {
    max-width: 100%;
    height: auto;
}

.movie p {
    text-align: center;
    font-size: 150%;
}

.about p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: larger;
}

.about img {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
    height: auto;
}

.social-links {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.titulo{
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer img{
    max-width: 75px;
    max-height: 75px;
}
